<!DOCTYPE html>
<!-- saved from url=(0024)http://www.dexign.us/ -->
<html lang="en" itemscope="" itemtype="http://schema.org/WebPage"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="Compose elaborate interactions and animations easily, and build sensor-aided prototypes without a line of code.">
    <meta name="keyword" content="prototype design, prototyping tool, prototyping tools, prototyping tool for mac, prototyping tool for Windows, app ui design, interaction, interaction design, protopie, app design, Interactive prototyping, mobile design, code free prototyping tool, design tool, sensor prototyping, interaction design, prototyping software, offline design tool, ios prototyping, android prototyping">

    <meta property="og:url" content="http://www.dexign.us/">
    <meta property="fb:app_id" content="462675533923571">
    <meta property="og:title" content="ProtoPie - Prototype mobile interactions as easily as Pie">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Compose elaborate interactions and animations easily, and build sensor-aided prototypes without a line of code.">
    <meta property="og:image" content="http://www.dexign.us/asset/image/img_share.jpg">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">
    <!-- Structured Data for Google SEO -->
    <meta itemprop="name" content="ProtoPie - Prototype mobile interactions as easily as Pie">
    <meta itemprop="description" content="Compose elaborate interactions and animations easily, and build sensor-aided prototypes without a line of code.">
    <meta itemprop="image" content="http://www.dexign.us/asset/image/bg_timeline.png">
    <meta itemprop="url" content="http://www.dexign.us/">
    <link rel="canonical" href="http://www.dexign.us/">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <title>DeXign - Dexign is a Development Innovation.</title>
    <link rel="stylesheet" href="/css/dexign.css">
    <script type="text/javascript" async="" src="/js/1338730f.js"></script>
    <script type="text/javascript" async="" src="/js/pta_en.js"></script>
    <script type="text/javascript" async="" src="/js/pts.js"></script>
    <script async="" src="/js/analytics.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/velocity.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/protopie.js"></script>

</head>
<body class="main">
<div id="wrap">
    <div class="mainHeader">
        <div class="_navigationMove">

            <div id="header">
                <div class="subWrap">
                    <div class="nav">
                        <a href="http://www.dexign.us/" class="lg _analytics" data-category="goto_menu" data-action="click" data-label="io_goto_cn_logo"><img src="/images/logo.png" alt="ProtoPie" style="max-width:100%;max-height:100%;margin:auto;display:block;"></a>

                        <button type="button" class="btGnb">Menu</button>

                        <ul class="gnb _gnb">
                            <li>
                                <a href="http://www.dexign.us/docs/" class="_analytics _docsStudio" data-category="goto_menu" data-action="click" data-label="io_goto_docs">Get Started</a>
                                <ul>
                                    <li><a href="http://www.dexign.us/docs/" class="_analytics _docsStudio" data-category="Goto_menu" data-action="click" data-label="doc_goto_studio">Studio</a></li>
                                    <li><a href="http://www.dexign.us/docs/protopie-player/" class="_analytics _docsPlayer" data-category="Goto_menu" data-action="click" data-label="doc_goto_player">Player</a></li>
                                    <li><a href="http://www.dexign.us/docs/import/" class="_analytics _docsImport">Sketch Import</a></li>
                                </ul>
                            </li>
                            <li><a href="http://www.dexign.us/tutorial/" class="_analytics" data-category="goto_menu" data-action="click" data-label="io_goto_tutorial">Tutorial</a></li>
                            <li><a href="http://www.dexign.us/demo/" class="_analytics" data-category="goto_menu" data-action="click" data-label="io_goto_demo">Demo</a></li>
                            <li><a href="http://www.dexign.us/resources/" class="_analytics" data-category="goto_menu" data-action="click" data-label="io_goto_tutorial">Resources</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <script type="text/javascript">

                if ($.cookie('sessionId')) {
                    $("#header ._removeEl").remove();
                    $(logInMenu).insertBefore('#header ._gnb > li:last-child');
                } else {
                    $("#header ._removeEl").remove();
                    $(logOutMenu).insertBefore('#header ._gnb > li:last-child');
                }

                $.ajax({
                    type: "GET",
                    url: 'https://my.dexign.us/v1/users/whoami',
                    xhrFields: {withCredentials: true},
                    success : function() {
                        $("#header ._removeEl").remove();
                        $(logInMenu).insertBefore('#header ._gnb > li:last-child');
                    },
                    error : function() {
                        $("#header ._removeEl").remove();
                        $(logOutMenu).insertBefore('#header ._gnb > li:last-child');
                    }
                });

                const language = ['en', 'kr'];

                var url = location.href;
                if (url.search("/docs/") !== -1) {
                    var lang = url.split("/docs/")[1].split("/").filter(function(v){return v!==''})[0];
                    language.indexOf(lang) === -1 ? lang = "en" : lang;
                    $.cookie("lang", lang, {expires : 30, path : "/", domain: "dexign.us"});
                }

                $("._docsStudio").attr("href", "/docs/" + (($.cookie("lang") !== 'en' && $.cookie("lang") !== undefined) ? $.cookie("lang") : ""));
                $("._docsPlayer").attr("href", "/docs/" + (($.cookie("lang") !== 'en' && $.cookie("lang") !== undefined) ? ($.cookie("lang") + "/") : "") + "protopie-player/");
                $("._docsImport").attr("href", "/docs/" + (($.cookie("lang") !== 'en' && $.cookie("lang") !== undefined) ? ($.cookie("lang") + "/") : "") + "import/");
            </script>
        </div>

        <div class="container">
            <div class="tx_header">
                <h1>DeXign makes your<br>thinking come true</h1>
                <p>Create your app with DeXign. <br>It makes it easier than ever to satisfy you.</p>
            </div>

            <div class="btns">
                <a href="http://www.dexign.us/#protopieDownload" class="bt_download _moveDownloadSection _analytics" data-category="download" data-action="click" data-label="io_scrollto_footer" id="scroll_to_footer">Download Free Trial</a>
            </div>
        </div>
    </div>

    <div id="ct">
        <div class="sec gr">
            <div class="container">
                <div class="tx_top">
                    <video autoplay="" loop="" muted="" playsinline="" poster="/images/blank.png">
                        <source src="/images/melon.mp4" type="video/mp4">
                    </video>
                    <h2>Realize <br class="mb_br">your thoughts With DeXign,<br>It is done as you think.</h2>
                    <p>Dexign can create screen designs and logical designs together<br> develop even the most complex apps.
                    <a href="https://www.youtube.com/watch?v=T8w14j4wYrs" class="bt_actionVideo spImage _analytics _view_movie" data-category="demo" data-action="play" data-label="io_overview">See DeXign in action</a>
                </div>
            </div>
        </div>
        <div class="sec" style="height:750px">
            <div class="container">
                <div class="parallel">
                    <h3 class="ic_pinch">Play with<br class="mb_br"> Multi-finger gesture</h3>
                    <p>Do you find yourself using static<br class="mb_br"> images to explain pinch zoom<br class="pc_br"> and<br class="mb_br"> two-finger rotate features? Play with<br class="mb_br"> multi-finger gestures<br class="pc_br"> on your<br class="mb_br"> physical device. ProtoPie supports<br class="mb_br"> up to five simultaneous <br class="pc_br">touch inputs,<br class="mb_br"> allowing five-finger gestures.</p>
                </div>

                <div class="parallel_thumb bg_pinch">
                    <div class="animation_wrap">
                        <div class="multi_finger_navi"></div>
                        <div class="multi_finger_compass"></div>
                        <div class="multi_finger_map"></div>
                        <div class="multi_finger_bottom"></div>
                        <div class="multi_finger_pointer lfinger" style="top:192px;left:83px"></div>
                        <div class="multi_finger_pointer rfinger" style="top:172px;left:123px"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec gr" style="height:750px">
            <div class="container">
                <div class="parallel" style="right:0">
                    <h3 class="ic_sound">Utilize Sensors<br> for your prototypes</h3>
                    <p>It is sometimes hard to explain design<br class="mb_br"> concepts<br class="pc_br"> with visual material only.<br class="mb_br"> Build full product looks-like /<br class="pc_br">works-like<br class="mb_br"> prototypes utilizing sensors on the<br class="mb_br"> smartphones.<br class="pc_br"> Control elements of the<br class="mb_br"> prototype on the display using<br class="pc_br"> a<br class="mb_br"> smartphone’s accelerometer or<br class="mb_br"> microphone.</p>
                </div>

                <div class="parallel_thumb bg_sound">
                    <div class="animation_wrap">
                        <div class="ring ringType1" style="width:170px;height:170px"></div>
                        <div class="ring ringType2" style="width:130px;height:130px"></div>
                        <div class="ring ringType3" style="width:140px;height:140px"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec" style="height:750px">
            <div class="container">
                <div class="parallel">
                    <h3 class="ic_mask">Mask object for<br class="mb_br"> Material Design</h3>
                    <p>One important design factor for<br class="mb_br"> Google’s Material Design is masking.<br> Use masks on simple vector elements<br class="mb_br"> and bitmap images, and move<br class="pc_br"> and<br class="mb_br"> scale the masks themselves.<br class="mb_br"> Prototyping for Material Design<br class="pc_br"> has<br class="mb_br"> never been easier.</p>
                </div>

                <div class="parallel_thumb bg_mask">
                    <div class="animation_wrap">
                        <div class="mask_main_bg"></div>
                        <div class="mask_sub_bg"></div>
                        <div class="mask_title"></div>
                        <div class="mask_smalltitle"></div>
                        <div class="mask_img"></div>
                        <div class="mask_img_bottom"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sec gr bg_timeline" style="height:800px">
            <div class="container">
                <div class="parallel" style="right:0">
                    <h3 class="ic_timeline">Tweak the detail<br> with timeline interface</h3>
                    <p>Sophisticated animations require<br class="mb_br"> precise timing<br class="pc_br"> for movement of<br class="mb_br"> elements. Take advantage<br class="pc_br"> of timeline<br class="mb_br"> interfaces to see every element’s<br> moments at a glance and to adjust<br class="mb_br"> them easily.</p>
                    <img src="/images/bg_timeline.png" alt="">
                </div>
            </div>
        </div>

        <div class="sec bg_scene" style="height:800px">
            <div class="container">
                <div class="parallel">
                    <h3 class="ic_scene maxLineHeight">Keep your prototype<br class="mb_br"> simple<br> with Multiple Scenes</h3>
                    <p>You might want to show an interaction<br class="mb_br"> across <br class="pc_br">several pages or a transition<br class="mb_br"> effect between pages.<br class="pc_br"> However,<br class="mb_br"> interactions can easily become<br class="mb_br"> complex<br class="pc_br"> when you place numerous<br class="mb_br"> image assets on the canvas<br class="pc_br"> for two or<br class="mb_br"> more pages. Utilize ProtoPie to keep<br class="pc_br"> a<br class="mb_br"> prototype simple with multiple scenes.<br> Additionally, don’t forget to take<br class="mb_br"> advantage of various<br class="pc_br"> transition effects.</p>
                    <img src="/images/bg_scene.png" alt="">
                </div>
            </div>
        </div>

        <div class="sec pink" id="protopieDownload" style="height:480px">
            <div class="container">
                <div class="tx_down">
                    <h2>Prototype interactive<br class="mb_br"> ideas <br class="pc_br">your way with<br class="mb_br"> ProtoPie</h2>

                    <dl class="authoring_download">
                        <dt>ProtoPie Studio for Mac</dt>
                        <dd>
                            <a href="http://release.protopie.io/ProtoPie-3.2.2.dmg" class="bt_download _analytics" data-category="download" data-action="click" data-label="io_mac" id="mac">Download Free Trial</a>
                            <span class="bt_download_mobile">You can download on the desktop.</span>
                            <p>* Windows version will be ready soon</p>

                        </dd>
                    </dl>

                    <dl class="companion_download">
                        <dt>ProtoPie Player for <span class="pcTxt">iPhones and Android phones</span><span class="mobileTxt">Smart Phone</span></dt>
                        <dd>
                            <a href="https://itunes.apple.com/us/app/protopie-player-code-free/id1015837511?ls=1&amp;mt=8" target="_blank" class="bt_apple spImage _analytics" data-category="download" data-action="click" data-label="io_ios"><span class="blind">Available on the App Store</span></a>
                            <a href="https://play.google.com/store/apps/details?id=io.protopie.companion&amp;hl=en" target="_blank" class="bt_google spImage _analytics" data-category="download" data-action="click" data-label="io_android"><span class="blind">GET IT ON Google Play</span></a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <ul class="footer_menu">
                <li>
                    <div>ProtoPie</div>
                    <ul>
                        <li><a href="http://www.dexign.us/tutorial">Tutorial</a></li>
                        <li><a href="http://www.dexign.us/demo">Demos</a></li>
                        <li><a href="http://www.dexign.us/#protopieDownload">Download</a></li>
                    </ul>
                </li>
                <li>
                    <div>Get Started</div>
                    <ul>
                        <li><a href="http://www.dexign.us/docs/" class="_docsStudio">Studio</a></li>
                        <li><a href="http://www.dexign.us/docs/protopie-player/" class="_docsPlayer">Player</a></li>
                        <li><a href="http://www.dexign.us/docs/import/" class="_import">Sketch Import</a></li>
                    </ul>
                </li>
                <li itemscope="" itemtype="http://schema.org/Organization">
                    <div>Community</div>
                    <ul>
                        <li><a class="_analytics" href="https://www.facebook.com/protopie" itemprop="sameAs" data-category="channel" data-action="click" data-label="io_goto_facebook" target="_blank">Facebook</a></li>
                        <li><a class="_analytics" href="https://twitter.com/protopie8" itemprop="sameAs" data-category="channel" data-action="click" data-label="io_goto_twitter" target="_blank">Twitter</a></li>
                        <li><a class="_analytics" href="https://dribbble.com/protopie" itemprop="sameAs" data-category="channel" data-action="click" data-label="io_goto_dribbble" target="_blank">Dribbble</a></li>
                        <li><a class="_analytics" href="https://blog.protopie.io/" itemprop="sameAs" data-category="channel" data-action="click" data-label="io_goto_medium" target="_blank">Medium</a></li>
                    </ul>
                </li>
                <li>
                    <div>Support</div>
                    <ul>
                        <li><a href="http://www.dexign.us/support/faq">FAQ</a></li>
                        <li><a href="http://www.dexign.us/resources">Resources</a></li>
                    </ul>
                </li>
                <li>
                    <div>Language</div>
                    <ul>
                        <li><a href="http://www.dexign.us/" class="_analytics" data-category="language" data-action="click" data-label="io_en">English</a></li>
                        <li><a href="http://www.protopie.cn/" class="_analytics" data-category="language" data-action="click" data-label="io_cn">Chinese</a></li>
                    </ul>
                </li>
            </ul>

            <p class="copyright">© 2017 by Studio XID, Inc. All rights reserved.</p>
        </div>
    </div>
    <script>
        $("._docsStudio").attr("href", "/docs/" + (($.cookie("lang") !== 'en' && $.cookie("lang") !== undefined) ? $.cookie("lang") : ""));
        $("._docsPlayer").attr("href", "/docs/" + (($.cookie("lang") !== 'en' && $.cookie("lang") !== undefined) ? ($.cookie("lang") + "/") : "") + "protopie-player/");
        $("._import").attr("href", "/docs/" + (($.cookie("lang") !== 'en' && $.cookie("lang") !== undefined) ? ($.cookie("lang") + "/") : "") + "import/");
    </script>
    <!-- Google Code for Remarketing Tag -->
    <!--------------------------------------------------
    Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
    --------------------------------------------------->
    <script type="text/javascript">
        /* <![CDATA[ */
        var google_conversion_id = 928256900;
        var google_custom_params = window.google_tag_params;
        var google_remarketing_only = true;
        /* ]]> */
    </script>
    <script type="text/javascript" src="/html/conversion.js">
    </script><iframe name="google_conversion_frame" title="Google conversion frame" width="300" height="13" src="/html/saved_resource.html" frameborder="0" marginwidth="0" marginheight="0" vspace="0" hspace="0" allowtransparency="true" scrolling="no"></iframe>
    <noscript>
        &lt;div style="display:inline;"&gt;
        &lt;img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/928256900/?guid=ON&amp;amp;script=0"/&gt;
        &lt;/div&gt;
    </noscript>


</div>
<div class="ly_play">
    <div class="player">
        <img src="/images/blank.png">
        <iframe id="ytplayer" type="text/html" width="700" height="393" src="./ProtoPie - Prototype mobile interactions as easily as Pie_files/saved_resource(1).html" frameborder="0" allowfullscreen=""></iframe>
    </div>
    <a href="http://www.dexign.us/#" class="bt_close spImage _close_movie"><span class="blind">Close</span></a>
    <div class="dim"></div>
</div>


</body></html>