<!DOCTYPE html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta name="generator" content="DeXign">
    <meta name="author" content="DeXign">
    <meta name="keywords" content="dexign, prototype design, prototype tool, ide, app ui design, interaction, interaction design, android development, iOS development, window development">
    <meta name="description" content="DeXign">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="progma" content="no-cache">

    <title>DeXign</title>

    <link rel="stylesheet" href="/css/dexign2.css">
</head>

<body>
<div class="stack">
    <div>
        <img src="/images/header.png" id="img-header"/>
    </div>

    <div>
        <iframe src="https://www.youtube.com/embed/Lm15eKrmPig" id="video" frameborder="0"></iframe>
    </div>

    <div>
        <img src="/images/body.png" id="img-bottom" id="img-bottom"/>
    </div>
</div>
</body>

</html>
